<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title>Dropdown Population Example</title>
<link th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}" type="text/css" 
      rel="stylesheet" media="screen,projection"/>
<link th:href="@{/main-style.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <h1>Dropdown Population Example</h1>
  <form th:action="@{/submitShape}" th:object="${shapeForm}" method="post">
    <div>
      <select id="shapeType" th:field="*{shapeType}">
        <option value="" selected="selected">N/A</option>
	    <option th:each="shapeOpt : ${shapeTypes.entrySet()}"
            th:value="${shapeOpt.key}"
            th:text="${shapeOpt.value}"></option>
	    </select>
        <label for="shapeType">Shape Type</label>
     </div>
     <div>
        <select id="shape" th:field="*{shape}"></select>
        <label class="active" for="shape">Shape</label>
        <span id="shapeSuggestVals" class="suggestVals" th:text="${shapeSuggestionsJSON}"></span>
     </div>
  </form>
<script th:src="@{/webjars/jquery/3.6.0/jquery.js}"></script>
<script th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
<script type="text/javascript">
$(function() {
	$(".suggestVals").hide();
	
	var shapeSuggestions = JSON.parse($("#shapeSuggestVals").text());
	console.log(shapeSuggestions);
	   
    $("#shapeType").change(function(e) {
	  var type = $("#shapeType").val();
	  console.log("ShapeType changed to " + type);
	  var htmlOptions = "";
	  var shapeMap = shapeSuggestions[type];
	  console.log(shapeMap);
	  $.each(shapeMap, function(shapeKey, shapeVal){
		 console.log("shape option: " + shapeKey + " " + shapeVal);
	     htmlOptions = htmlOptions + "<option value="+ shapeKey +">" + shapeVal +"</option>";
	  });
	  $("#shape").html(htmlOptions);
	  $("#shape").trigger('contentChanged');
    });
});
</script>
</body>
</html>
